<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel.phuc.trung.tlcn.tlcn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <activity
            android:name=".Home.TouristAttraction.DeteiladActivityCreateSchedules"
            android:theme="@style/AppTheme.Customtheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".GoogleMap.MapsActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".Home.HomeActivityComment"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".Home.HomeActivityLike"
            android:theme="@style/AppTheme.Customtheme" />

        <activity
            android:name=".Home.TouristAttraction.HomeActivityCheckDislike"
            android:theme="@style/AppTheme.Customtheme" />
        <activity android:name=".Home.HomeActivityImage" />
        <activity android:name=".Schedule.AddSchudeleActivity" />
        <activity
            android:name=".Home.festivalVenues.FestivalDetail"
            android:label="@string/title_activity_festival_detail"></activity>

    </application>

</manifest>